/* https://www.w3schools.com/css/css_navbar.asp */
/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

body {
    background-color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.headerImg {
    height: 15vw;
    max-height: 150px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: firebrick;
}

.tab {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    float: left;
    text-decoration: none;
    padding: 14px 16px;
}

.tab:hover {
    background-color: crimson;
}

.active {
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 1;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}